.not_found{
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.not_found h1{
    color: black;
}

.not_found a{
    color: var(--primary);
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
}